@font-face {
    font-family: kredit-front;
    src: url("/css/font/kredit-front.woff");
}

@font-face {
    font-family: kredit-back;
    src: url("/css/font/kredit-back.woff");
}

@font-face {
    font-family: kredit;
    src: url("/css/font/kredit.woff");
}

@font-face {
    font-family: kredit-shine;
    src: url("/css/font/kredit-shine.woff");
}

$background: #f7f9fc;
$pointer: pointer;
$chipRight: 1px solid rgb(121, 121, 121);
$chipBottom: 1px solid rgb(121, 121, 121);
$chipLeft: 1px solid rgb(121, 121, 121);

@mixin flex-center() {
    display: flex;
    align-items: center;
    align-content: center;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: kredit-front;
    /* background: linear-gradient(220deg, rgba(253, 246, 246, 0.329), rgba(172, 164, 164, 0.8)); */
    background: rgb(119, 119, 119);
}

.top__bar {
    /* position: fixed; */
    /* position: relative; */
    @include flex-center();
    background: #e7f0ff;
    .logo {
        @include flex-center();
        transition: transform 0.5s ease-in-out;
        /* transform: translateX(0px); */
        img {
            margin: 10px 0px 10px 20px;
            width: 45px;
            height: 40px;
            cursor: $pointer;
        }
        .brand {
            cursor: $pointer;
        }
    }
    .logo:hover {
        /* transition: transform 0.5s ease;
        transform: translateX(5px); */
        transform: scale(1.1);
    }

    .navigation {
        display: flex;
        margin: auto;
        gap: 40px;
        list-style: none;
        position: absolute;
        right: 50px;
        cursor: $pointer;
    }

    .common {
        transition: transform 0.2s ease-in-out;
    }

    .common:hover {
        transform: scale(1.1);
    }
}

.card__container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .card {
        width: 600px;
        height: 388px;
        background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 3%, rgba(0, 0, 0, 0.8) 5%);
        border-radius: 25px;
        margin: 5px;
        .card__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 40px;
            .commbank__logo {
                width: 65px;
            }
            .card__logo {
                width: 50px;
                height: 50px;
                background-color: #FFCC00;
                transform: rotate(45deg);
                /* position: absolute;
                left: 40px;
                top: 40px; */
                &_black {
                    height: 50px;
                    width: 10px;
                    background-image: linear-gradient(black 41%, #FFCC00 40%);
                    position: absolute;
                    left: 40px;
                }
                &_tri {
                    height: 30px;
                    width: 10px;
                    background-color: black;
                    position: absolute;
                    left: 40px;
                    top: 20px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%);
                }
            }
            .card__type {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: lighter;
                font-size: 1.2em;
                color: white;
                text-shadow: -1px 0 #545454, 0 1px #545454, 1px 0 #545454, 0 -1px #545454;
                position: absolute;
                right: 20px;
            }
        }

        .middle {
            display: flex;
            align-items: center;
            position: relative;
            top: 60px;
            grid-template-columns: 1fr 2fr;
            /* align-content: space-between; */
            .chip {
                position: absolute;
                left: 10%;
                width: 60px;
                height: 60px;
                background-image: repeating-linear-gradient(-45deg, rgba(241, 241, 241, 241), #e8e8e8 50%);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .chip1 {
                    width: 20px;
                    height: 20px;
                    border-right: $chipRight;
                    border-bottom: $chipBottom;
                }
                .chip2 {
                    width: 20px;
                    height: 20px;
                    border-right: $chipRight;
                    border-bottom: $chipBottom;
                }
                .chip3 {
                    position: absolute;
                    right: 0;
                    width: 20px;
                    height: 20px;
                    border-left: $chipLeft;
                    border-bottom: $chipBottom;
                }
                .chip4 {
                    width: 20px;
                    height: 10px;
                    border-right: $chipRight;
                    border-bottom: $chipBottom;
                }
                .chip5 {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 20px;
                    right: 0px;
                    border-left: $chipLeft;
                    border-bottom: $chipBottom;
                }
            }

            .nation {
                color: white;
                position: absolute;
                right: 45%;
                font-size: 1.5rem;
            }

            .card__num {
                color: white;
                font-size: 2.5em;
                position: absolute;
                left: 10%;
                top: 30px;
            }

        }

        .bottom {
            .valid__dates {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                align-content: center;
                position: absolute;
                left: 20%;
                top: 65%;
                line-height: 0.9em;
                &_top {
                    color: rgb(182, 182, 182);
                    font-size: 1em;
                }
                &_middle {
                    color: rgb(182, 182, 182);
                    font-size: 1em;
                }
                &_bottom {
                    font-size: 1.3rem;
                }
            }
            .card__holder {
                color: white;
                position: absolute;
                bottom: 7%;
                left: 10%;
                font-size: 1.5rem;
            }
            .card__logo_mastercard {
                width: 90px;
                position: absolute;
                bottom: 2%;
                right: 25px;
            }
        }
    }

}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0px;
    height: 80px;
    color: rgb(102, 102, 102);
    width: 100%;
    text-align: center;
    background-color: black;
}

.page__background {
    background-color: black;
    width: 100%;
    height: 90%;
    .lines {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        height: 90%;
        margin: auto;
    }

    .line {
        position: absolute;
        width: 1px;
        height: 90%;
        top: 0;
        left: 50%;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            height: 15vh;
            width: 100%;
            top: -50%;
            left: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
            animation: drop 4s 0s infinite;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
        }

        &:nth-child(1) {
            margin-left: -25%;
            &::after {
                animation-delay: 2s;
            }
        }

        &:nth-child(3) {
            margin-left: 25%;
            &::after {
                animation-delay: 2.5s;
            }
        }
        @keyframes drop  {
            0% {
                top: -50%;
            }
            100% {
                top: 110%;
            }
        }
    }
}
.welcome__page {
    color: silver;
    position: fixed;
    top: 40%;
    text-align: center;
    width: 100%;
    font-size: 4em;
    background-clip: text;
    .gold {
        color: rgb(253, 221, 40);
    }
}
@media only screen and (max-width: 730px) {
    .welcome__page {
        font-size: 3em;
    }
    .page__background {
        .lines {
            top: 120px;
        }
    }
    .top__bar {
        @include flex-column();
        .logo {
            img {
                margin: 5px 0px 5px 0px;
            }
            border-bottom: 1pt solid #69a3ff;
        }
        .navigation {
            @include flex-column();
            position: relative;
            gap: 10px;
            align-items: center;
            justify-content: center;
            right: 0px;
            top: 10px;
            margin-bottom: 20px;
        }
    }

    .card__container {
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            width: 400px;
            height: 250px;
            margin: 5px;
            .card__top {
                .commbank__logo {
                    width: 45px;
                }
                .card__type {
                    font-size: 1em;
                }
            }
            .middle {
                top: 25px;
                .chip {
                    width: 45px;
                    height: 45px;
                    .chip1 {
                        width: 15px;
                        height: 15px;
                    }
                    .chip2 {
                        width: 15px;
                        height: 15px;
                    }
                    .chip3 {
                        width: 15px;
                        height: 15px;
                    }
                    .chip4 {
                        width: 15px;
                        height: 15px;
                        border-bottom: 0px;
                    }
                    .chip5 {
                        width: 15px;
                        height: 15px;
                        top: 15px;
                    }
                }
                .card__num {
                    font-size: 1.6em;
                    top: 25px;
                }
            }

            .bottom {
                .valid__dates {
                    top: 67%;
                    font-size: 0.9em;
                    &_bottom {
                        font-size: 1.2em;
                    }
                }
                .card__holder {
                    font-size: 1.4em;
                    bottom: 2.5%;
                }
                .card__logo_mastercard {
                    width: 70px;
                }
            }
        }

    }
}